.switch-container {
  display: flex;
  align-items: center;
}

.switch-label {
  margin-right: 10px; /* Adjust the spacing as needed */
}

.switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch--on {
  background-color: #4caf50;
}

.switch__toggle {
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.switch__toggle--on {
  transform: translateX(25px);
}